*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

.main{
	width: 100%;
}

.header{
	width: 100%;
	box-shadow: 0px 5px 5px 2px gray;
}

.header h1{
	text-transform: uppercase;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 10px;
}

.menu{
	width: 80%;
	margin: auto;
	position: relative;
}

.menu>ul{
	list-style: none;
	width: 100%;
	text-transform: uppercase;
	margin: auto;
	display: flex;
}

.menu>ul>li{
	padding: 10px 20px;
}

.menu>ul>li>a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-weight: normal;
}

.megamenu{
	width: 800px;
	height: 400px;
	box-sizing: border-box;
	position: absolute;
	transition: 0.1s;
	transform: scale(0.0);
	transform-origin: top left;
}

.megamenu>ul{
	list-style: none;
	width: 100%;
	text-transform: capitalize;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 5px 0px brown;
}

.megamenu>ul>li{
	padding: 0px 5px;
	padding-top: 10px;
}

.megamenu>ul>li>a{
	text-decoration: none;
	color: red;
	font-size: 12px;
	font-weight: normal;	
}

.megamenu1{
	width: 100%;
	box-sizing: border-box;
}

.megamenu1>ul{
	list-style: none;
	width: 100%;
	text-transform: capitalize;
	margin: auto;
}

.megamenu1>ul>li{
	padding: 1px 5px;
}

.megamenu1>ul>li>a{
	text-decoration: none;
	color: black;
	font-size: 10px;
	font-weight: normal;	
}

.menu>ul>li:hover .megamenu{
	top: 46px;
	left: 0px;
	transform: scale(1.1);
}

.menu>ul>li:hover{
	border-bottom: 3px solid red;
}

.border{
	padding: 2px 0px;
	border-bottom: 0.01px solid grey;
}

.middle{
	width: 1600px;
	position: relative;
}

.middle1{
	width: 1600px;
	height: 450px;
	display: flex;
	border: 2px solid blueviolet;
	justify-content: center;
	animation: slideview;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	background-color: green;
	box-sizing: border-box;
	position: absolute;
}

.middle2{
	width: 1600px;
	height: 450px;
	display: flex;
	border: 2px solid blueviolet;
	justify-content: center;
	animation: slideview1;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	background-color: green;
	box-sizing: border-box;
	position: absolute;
}

.middle3{
	width: 1600px;
	height: 450px;
	display: flex;
	border: 2px solid blueviolet;
	justify-content: center;
	animation: slideview2;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	background-color: green;
	box-sizing: border-box;
}

.slideshow{
	border: 2px solid red;
	margin: auto;
	
}	

.slideshow img{
	width: 350px;
	height: 450px;
}

@keyframes slideview{
	0%{
		transform: translatex(0px);
		
	}
	100%{
		transform: translatex(-3200px);
	}
}

@keyframes slideview1{
	0%{
		transform: translatex(1600px);
	}
	100%{
		transform: translatex(-1600px);
	}
}

@keyframes slideview2{
	0%{
		transform: translatex(3200px);
	}
	100%{
		transform: translatex(0px);
	}
}

